doctype html
html
	head
		title Add Recipe
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", type="text/css", href="/css/recipe-entry.css")
		link(rel="stylesheet", type="text/css", href="/css/reset.css")
	body
		form(action="/add-recipe", method="post")
			h1 Add a Recipe
			input(type="text", name="name", placeholder="recipe name", required="required", autocomplete="off")
			input(type="text", name="source", placeholder="source")
			input(type="url", name="url", placeholder="url", autocomplete="off")
			input(type="text", name="categories", placeholder="categories (comma-separated)", autocomplete="off")
			input(type="text", name="tags", placeholder="tags (comma-separated)", autocomplete="off")
			textarea(name="ingredients", placeholder="ingredients (newline-separated)", autocomplete="off")
			textarea(name="directions", placeholder="directions (newline-separated)", required="required", autocomplete="off")
			input(name="prep", type="number", placeholder="prep time", autocomplete="off")
			input(name="cook", type="number", placeholder="cook time", autocomplete="off")
			input(name="serves", type="number", placeholder="serves", autocomplete="off")
			#add-recipe-container
				input(type="submit", value="Add Recipe")