doctype html
html
	head
		title Recipes
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", type="text/css", href="/css/reset.css")
		link(rel="stylesheet", type="text/css", href="/css/main.css")
		style(type="text/css").
			#recipe-container {
				width: 70%;
				text-align: left;
				padding-top: 2em;
			}
			span#add {
				position: absolute;
				right: 0;
				top: 0;
				display: inline-block;
				color: #fff;
				background-color: rgb(0, 199, 255);
				padding: 0.5em 1.5em;
				font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
				font-weight: 300;
			}
			#container {
				position: relative;
			}
			@media (max-device-width: 400px) {
				#recipe-container {
					width: 98%;
				}
			}
	body
		include includes/header
		#container
			a(href="/add-recipe")
				span#add Add Recipe
			center
				#recipe-container
					include mixins/recipe
					each recipe in recipes
						+recipe-cell(recipe)