doctype html
html
	head
		title Recipes
		link(rel="stylesheet", type="text/css", href="/css/reset.css")
		link(rel="stylesheet", type="text/css", href="/css/main.css")
	body
		include mixins/recipe
		each recipe in recipes
			+recipe-cell(recipe)