doctype html
html
	head
		title
			if query
				|Search Results
			else
				|Search
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", type="text/css", href="/css/reset.css")
		link(rel="stylesheet", type="text/css", href="/css/main.css")
		link(rel="stylesheet", type="text/css", href="/css/search.css")
	body
		include includes/header
		center
			form(action="/search")
				#result-container
					input(type="search", placeholder="search", name="q", value="#{query || ''}", required="required")
					if query
						if results && results.length
							h2 Search results for "#{query}"
							br
							include mixins/recipe
							each recipe in results
								+recipe-cell(recipe)
						else
							|No results found.